<h1>Test 1</h1>

<p>
  Create a reactive form with the following fields:
</p>

<ul>
  <li><strong>name</strong>: text input</li>
  <li><strong>type</strong>: dropdown with values: 'Car', 'Bike'</li>
</ul>

<p>
  When a value in the <strong>type</strong> dropdown is selected, another field
  should be added based on the type. If it's "car", add a text input with the
  name <strong>brand</strong>. If it's "bike", add a text input with the name
  <strong>color</strong>. Be sure to remove the other input, when the type
  changes, so that its value is <u>not part of the result object</u>.
</p>

<p>
  All fields are required.
</p>

<p>
  A submit button should call the injected service with the value of the form, but should
  only be enabled if the form is valid.
</p>

<form [formGroup]="form" (ngSubmit)="submit(form.value)">
  <div>
    Name:
    <input name="name" formControlName="name">
  </div>

  <div>
    Type:
    <select name="type" formControlName="type">
      <option value="">Select a type</option>
      <option value="car">Car</option>
      <option value="bike">Bike</option>
    </select>
  </div>

  <!-- only show if "type" is "car" -->
  @if (form.get('type')!.value === 'car') {
  <div>
    Brand:
    <input name="brand" formControlName="brand">
  </div>
  }

  <!-- only show if "type" is "bike" -->
  @if (form.get('type')!.value === 'bike') {
  <div>
    Color:
    <input name="color" formControlName="color">
  </div>
  }

  <button [disabled]="form.invalid">Submit</button>
</form>
