<h1>Welcome to the code test!</h1>
<p>The links below link to tests including explanation of what needs to happen.</p>
<p>
  Note: this project was created in Angular 12, and upgraded to Angular 18. However, the code was not updated to
  make use of the latest features. Feel free to modernize the codebase in the process of completing the tests.
</p>
<p>
  Note 2: all tests components contain test suites. Make sure they pass before submitting your solution.
</p>

<ul>
  <li>
    <a routerLink="test1">Test 1</a>
  </li>
  <li>
    <a routerLink="test2">Test 2</a>
  </li>
  <li>
    <a routerLink="test3">Test 3</a>
  </li>
</ul>
